  
  /* header */

  .header {
    justify-content: space-between;
    align-items: center;
  }

  .logo-div {
    margin-top: -5px;
  }

  .nav-items {
    margin: 0;
  }

  .nav-items span {
    display: block;
    margin-left: 0.3rem;
  }

  .nav-items span:hover {
    color: #52adc0;
  }

  .navbar {
    position: initial;
    margin-top: 0.5rem;
    padding-right: 2rem;
  }

  /* search schools section */

  .field {
    max-width: 600px;
  }

  .search-btn {
    background-color: #d35649;
  }

  .search-btn:hover {
    background-color: #d44535;
  }

  /* steps section */

  .steps-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 5rem;
    width: 70%;
    margin: 0 auto;
  }

  /* more info section */

  .info-div {
    justify-content: space-around;
  }

  /* footer */

  .about-text {
    width: 260px;
  }

  /* SEARCH PAGE */

  .search-engine-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
  }

  .search-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 140px;
  }

  .search-label {
    margin-bottom: 0.4rem;
  }

  .search-input {
    width: 90%;
  }

  .search-select {
    width: 80%;
  }

  .buttons-div {
    flex-direction: row;
    width: 160px;
  }

  .search-page-btn {
    margin-right: 0.3rem;
  }

  /* search page results */

  .results-list {
    max-width: 1024px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }

  .result-school {
    width: 300px;
    margin: 1rem 1rem;
  }

  /* schoo detail */

  .info-bottom-list span {
    font-size: 0.7rem;
  }
