/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

/*=============================================
=            GLOBAL SETTINGS            =
=============================================*/

/* flex box */

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-b {
  justify-content: space-between;
}

.space-a {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

/* colors */

.bg-primary {
    background-color: #d35649;
}

.text-white {
  color: white;
}

/* font */

.primary-text {
  font-family: 'Archivo', sans-serif;
}

.secondary-text {
  font-family: 'Work Sans', sans-serif;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 900;
}

.medium-font {
  font-size: 1.4rem;
}

.big-font {
  font-size: 1.8rem;
}

/*=====  End of GLOBAL SETTINGS  ======*/

/*=============================================
=            HEADER            =
=============================================*/

.header {
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.logo-div {
  align-self: center;
}

.nav-items {
  margin: 10px 10px 0 0 ;
}

.nav-items span {
  display: none;
}

.fa-search:hover {
  color: #52adc0;
}

.fa-snowboarding:hover {
  rotate: -25deg;
  transition: 0.5s;
  color: #52adc0;
}

/*=====  End of HEADER  ======*/

/*=============================================
=            SEARCH SECTION            =
=============================================*/

.search-h1 {
  font-variant: small-caps;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 10px;
}


.search-section {
  padding: 125px 0;
  background-image: url(/assets/images/hero-image2.jpg);
  background-size: cover;
}

/* form */

.field {
  width: 85%;
  margin: 20px auto;
  padding-top: 1.1rem;
  border-radius: 0.8rem;
  background-color: rgba(228, 212, 212, 0.6);
}

.form-label {
  margin-bottom: 0.2rem;
  color: #505357;
  font-size: 1rem;
}

.form-input {
  border: none;
  padding: 0.3rem 0;
  border-radius: 0.2rem;
}

.form {
  width: 90%;
  margin: 0 auto;
}

.search-btn {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  opacity: 1;
}

.work-btn {
  margin-left: 15%;
  color: #505357;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #d4d0d1;
}

.work-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

.search-btn:hover {
  background-color:#d44535;
  cursor: pointer;
}

/*=====  End of SEARCH SECTION  ======*/


/*=============================================
=            STEPS SECTION            =
=============================================*/

.steps-h1 {
  margin: 20px 0;
  text-align: center;
  color: #d35649;
}

.steps-section {
  align-items: center;
}

.steps-div {
  margin: 1rem;
  max-width: 400px;
  color: #2f2e31;
}

.steps-icons,
.steps-h2 {
  margin-bottom: 0.5rem;
}

.steps-text {
  text-align: justify;
}

/*=====  End of STEPS SECTION  ======*/


/*=============================================
=            MORE INFO SECTION            =
=============================================*/

.info-1 {
  background-color: #e27e65;
}

.info-2 {
  background-color: #98a4a5;
}

.info-3 {
  background-color: #72bae3;
}

/*=====  End of MORE INFO SECTION  ======*/


