/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100vh;
}

/*=============================================
=            GLOBAL SETTINGS            =
=============================================*/

/* flex box */

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.space-b {
  justify-content: space-between;
}

.space-a {
  justify-content: space-around;
}

.items-center {
  align-items: center;
}

/* colors */

.bg-primary {
    background-color: #d35649;
}

.text-white {
  color: white;
}

/* font */

.primary-text {
  font-family: 'Archivo', sans-serif;
}

.secondary-text {
  font-family: 'Work Sans', sans-serif;
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.text-bolder {
  font-weight: 900;
}

.small-font {
  font-size: 0.9rem;
}

.medium-font {
  font-size: 1.4rem;
}

.big-font {
  font-size: 1.8rem;
}

/*=====  End of GLOBAL SETTINGS  ======*/

/*=============================================
=            HEADER            =
=============================================*/

.header {
  width: 100%;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.logo-div {
  align-self: center;
}

.nav-items {
  margin: 10px 10px 0 0 ;
}

.nav-items span {
  display: none;
}

.fa-search:hover {
  color: #52adc0;
}

.fa-snowboarding:hover {
  rotate: -25deg;
  transition: 0.6s;
  color: #52adc0;
}

/*=====  End of HEADER  ======*/

/*=============================================
=            SEARCH SECTION            =
=============================================*/

.search-h1 {
  font-variant: small-caps;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 10px;
}


.search-section {
  padding: 125px 0;
  background-image: url(/assets/images/hero-image2.jpg);
  background-size: cover;
  background-position: center;
}

/* form */

.field {
  width: 85%;
  margin: 20px auto;
  padding-top: 1.1rem;
  border-radius: 0.8rem;
  background-color: rgba(228, 212, 212, 0.6);
}

.form-label {
  margin-bottom: 0.2rem;
  color: #505357;
  font-size: 1rem;
}

.form-input {
  border: none;
  padding: 0.3rem 0;
  border-radius: 0.2rem;
}

.form {
  width: 90%;
  margin: 0 auto;
}

.search-btn {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.2rem;
  opacity: 1;
}

.work-btn {
  margin-left: 15%;
  color: #505357;
  font-size: 0.9rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #d4d0d1;
}

.work-btn:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-weight: 700;
}

.search-btn:hover {
  background-color:#d44535;
  cursor: pointer;
  transition: 0.5s;
}

/*=====  End of SEARCH SECTION  ======*/


/*=============================================
=            STEPS SECTION            =
=============================================*/

.steps-h1 {
  margin: 20px 0;
  text-align: center;
  color: #d35649;
}

.steps-section {
  align-items: center;
}

.steps-div {
  margin: 1rem;
  max-width: 400px;
  color: #2f2e31;
}

.steps-icons,
.steps-h2 {
  margin-bottom: 0.5rem;
}

.steps-text {
  text-align: justify;
}

/*=====  End of STEPS SECTION  ======*/

/*=============================================
=            MORE INFO SECTION            =
=============================================*/

.info-div {
  padding: 3rem 1rem;
  color: white;
  text-align: justify;
}

.info-div p {
  max-width: 400px;
}

.info-btn-1,
.info-btn-2 {
  padding: 0.4rem;
  margin: 1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: #fafdff;
}

.info-btn-1 {
  color: #e27e65;
}

.info-btn-2{
  color: #98a4a5;
}

.info-1 {
  background-color: #e27e65;
}

.info-2 {
  background-color: #98a4a5;
}

.info-3 {
  background-color: #72bae3;
}

.info-h3 {
  margin-bottom: 1rem;
}

.more-info-img,
.more-info-mockup {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.more-info-mockup-2 {
  display: none;
}

/*=====  End of MORE INFO SECTION  ======*/


/*=============================================
=            FOOTER            =
=============================================*/

.footer-div {
  background-color: #000;
  text-align: center;
}

.footer-logo {
  width: 50px;
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid white;
  border-radius: 50%;
}

.rights-text {
  display: none;
}

/* subscribe */

.sub-form {
  margin: 0 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(228, 212, 212, 0.1);
}

.sub-label {
  color: white;
  margin-bottom: 1rem;
}

.sub-input {
  border: 1px solid #444444;
  background-color: transparent;
  padding: 0.5rem 0 0.5rem 0.5rem;
  color: #444444;
}

.sub-btn {
  background-color: #444444;
  border: none;
  color: white;
  padding: 0 1rem;
}

.sub-btn:hover {
  cursor: pointer;
}

/* contact */

.footer-list {
  display: none;
}

.footer-contact{
  border-bottom: 1px solid rgba(228, 212, 212, 0.1);
}
.footer-contact,
.footer-about {
  margin: 0 2rem;
  padding: 2rem 0;
}

.contact-h2 {
  margin-bottom: 1rem;
}

.footer-contact span,
.footer-about span {
  color: #d35649;
}

/* about */

.footer-about {
  text-align: center;
}
.about-text {
  text-align: justify;
  max-width: 400px;
}

/* social media icons */

.footer-icons {
  justify-content: center;
  padding: 1rem 0;
  background-color: #1f1f1f;
}

.icons-link {
  padding: 0.6rem;
  color: #505050;
}

/*=====  End of FOOTER  ======*/


/*=============================================
=            TABLET MEDIA             =
=============================================*/

@media (min-width: 768px) {

  /* Header */

  .header {
    flex-direction: row;
    justify-content: left;
  }

  .logo-div {
    margin-left: 2rem;

  }

  .navbar {
    position: absolute;
    left: 50%;
    top: 1%;
  }

  .nav-items {
    padding: 0 1rem;
  }

  .nav-items i {
    font-size: 1rem;
  }

  /* steps section */

  .steps-div {
    max-width: 680px;
  }

  /* more info section */

    .info-div {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: 2rem;
    }

    .more-info-img {
      width: 200px;
      height: 200px;
    }

    .more-info-mockup {
      display: none;
    }

    .more-info-mockup-2 {
      display: block;
      width: 180px;
      height: 200px;
    }

  /* footer */

  .footer-div {
    padding-top: 2rem;
    position: relative; 
  }

  .footer-list {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 0 2rem 3rem 2rem;
    border-top: 1px solid rgba(228, 212, 212, 0.3);
    border-bottom: 1px solid rgba(228, 212, 212, 0.3);
  }

  .list-left {
    margin-right: 3rem;
  }

  .list-right {
    margin-left: 3rem;
  }

  .footer-logo {
    position: absolute;
    top: -1rem;
    left: 45%;
    border: 1px solid rgba(228, 212, 212, 0.3);
    background-color: #000;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-contact,
  .footer-about {
    margin-top: 0;
    padding-top: 0;
  }

  .sub-form,
  .footer-contact {
    border-bottom: none;
  }

  .sub-label,
  .contact-h2 {
    font-size: 1rem;
  }

 .about-text {
   font-size: 0.8rem;
   font-weight: 300;
   text-align: left;
 }

 .footer-bottom {
   display: flex;
   background-color: #1f1f1f;
   padding-top: 1rem;
 }

.footer-icons {
  font-size: 1rem;
}

.rights-text {
    display: block;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    margin: 0.6rem 0 0 3rem;
    color: #505050;
    padding-right: 0.5rem;
  }

  .rights-text span {
    padding-left: 0.5rem;
  }
}

/*=====  End of TABLET MEDIA   ======*/

